/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 2, 2024, 10:56:12 AM
    Author     : Dell Latitude 7490
*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px; 
    overflow: auto;
}

.main-content {
    margin-top: 8px;
}

.cart-content {
    box-shadow: 0 6px 3px rgba(0, 0, 0, 0.12), 0 6px 16px rgba(0, 0, 0, 0.24);    
}

.checkout {
    margin-top: 8px;
    margin-bottom: 16px;
}
